services:
  airportapi:
    build: airport
    mem_limit: 512m
    ports:
      - "8080:8080"
    env_file:
      - .env
    restart: always
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:latest
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: "1234"
      POSTGRES_DB: airportdb
    restart: always
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB" ]
      timeout: 10s
      retries: 10
